In [4]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))
from tqdm import tqdm

# Any results you write to the current directory are saved as output.

['OutputRecommendation1.txt']

In [5]:
df = pd.read_csv('../input/OutputRecommendation1.txt')
df.head()

   Id        ASIN    ...    totalReviews avgRating
0   1  0827229534    ...               2       5.0
1   2  0738700797    ...              12       4.5
2   4  0842328327    ...               1       4.0
3   5  1577943082    ...               0       0.0
4   6  0486220125    ...              17       4.0

[5 rows x 9 columns]

In [6]:
dfDVD = df.loc[ df['group'] == 'DVD']
dfDVD.head()

      Id        ASIN    ...    totalReviews avgRating
16    21  0790747324    ...             140       4.5
29    37  B000056PNC    ...               7       3.5
32    42  B000056PNB    ...              24       4.5
34    44  B000056PNE    ...              13       4.0
108  149  B00000IC80    ...               0       0.0

[5 rows x 9 columns]

In [9]:
newDf = pd.DataFrame(columns=['ASINs', 'TitleSimilarity', 'CategorySimilarity', 'SalesRank', 'CoPurchasedProducts'])
newDf

Empty DataFrame
Columns: [ASINs, TitleSimilarity, CategorySimilarity, SalesRank, CoPurchasedProducts]
Index: []

In [10]:
for i in range(int(dfDVD.shape[0]/4)):
    row = dfDVD.iloc[i][:]
    rowASIN = row['ASIN']
    cat_i = row['categories'].split(' ')
    title_i = row['title'].split(' ')
    #copurchasedASIN = row['copurchased'].split(' ')
    for coASIN in dfDVD.iloc[i]['copurchased'].split(' '):
        cat_jaccard_similarity = 0
        title_jaccard_similarity = 0
        cat_j_row = dfDVD.loc[ dfDVD['ASIN'] == coASIN ]
        cat_j = cat_j_row['categories'].to_string().split(' ')[1:]
#         if i<2:
#             print(coASIN)
#             print(cat_j)
        cat_iUcat_j = set(cat_i).union(set(cat_j))
        cat_iIcat_j = set(cat_i).intersection(set(cat_j))
        if len(cat_iUcat_j)>0:
            cat_jaccard_similarity = round( len(cat_iIcat_j)/len(cat_iUcat_j) , 2)
        else:
            cat_jaccard_similarity = 0
        
        title_j = cat_j_row['title'].to_string().split(' ')
        title_iUtitle_j = set(title_i).union(set(title_j))
        title_iItitle_j = set(title_i).intersection(set(title_j))
        if len(title_iUtitle_j)>0:
            title_jaccard_similarity = round( len(title_iItitle_j)/ len(title_iUtitle_j) , 2)
        else:
            title_jaccard_similarity = 0
        l = int(row['salesrank'])
        #print(cat_j_row['salesrank'].to_string().split(' ')[0])
        try:
            r =  int(cat_j_row['salesrank'].to_string().split(' ')[0] )
            #print(l,r)
            SalesRank = max( l, r)
            newDf = newDf.append(pd.Series([ rowASIN+' '+coASIN, title_jaccard_similarity, cat_jaccard_similarity, SalesRank, "Yes" ], index=newDf.columns ), ignore_index=True)
        except ValueError:
            pass

In [11]:
newDf.head()

                   ASINs         ...           CoPurchasedProducts
0  0790747324 B00007JMD8         ...                           Yes
1  0790747324 6305350221         ...                           Yes
2  0790747324 B00004RF9B         ...                           Yes
3  0790747324 B00005JKFR         ...                           Yes
4  0790747324 B00005NG6A         ...                           Yes

[5 rows x 5 columns]

In [12]:
newDf.shape

(12591, 5)

In [13]:
dfBook = df.loc[ df['group'] == 'Book' ]
dfBook.head()

   Id        ASIN    ...    totalReviews avgRating
0   1  0827229534    ...               2       5.0
1   2  0738700797    ...              12       4.5
2   4  0842328327    ...               1       4.0
3   5  1577943082    ...               0       0.0
4   6  0486220125    ...              17       4.0

[5 rows x 9 columns]

In [14]:
for i in tqdm(range(int(dfBook.shape[0]/25))):
    bookASIN = dfBook.iloc[i]['ASIN']
    dvdASIN = newDf.iloc[i]['ASINs'].split(' ')[0]
    cat_i = dfBook.iloc[i]['categories'].split(' ')
    title_i = dfBook.iloc[i]['title'].split(' ')
    
    cat_jaccard_similarity = 0
    title_jaccard_similarity = 0
    #cat_j_row = dfDVD.loc[ dfDVD['ASIN'] == coASIN ]
    cat_j_row = dfBook.iloc[i][:]
    cat_j = cat_j_row['categories'].split(' ')[1:]

    cat_iUcat_j = set(cat_i).union(set(cat_j))
    cat_iIcat_j = set(cat_i).intersection(set(cat_j))
    if len(cat_iUcat_j)>0:
        cat_jaccard_similarity = round( len(cat_iIcat_j)/len(cat_iUcat_j) , 2)
    else:
        cat_jaccard_similarity = 0

    title_j = cat_j_row['title'].split(' ')
    title_iUtitle_j = set(title_i).union(set(title_j))
    title_iItitle_j = set(title_i).intersection(set(title_j))
    if len(title_iUtitle_j)>0:
        title_jaccard_similarity = round( len(title_iItitle_j)/ len(title_iUtitle_j) , 2)
    else:
        title_jaccard_similarity = 0
    l = int(row['salesrank'])
    #print(cat_j_row['salesrank'])
    try:
        r =  int(cat_j_row['salesrank'] )
        #print(l,r)
        SalesRank = max( l, r)
        newDf = newDf.append(pd.Series([ rowASIN+' '+coASIN, title_jaccard_similarity, cat_jaccard_similarity, SalesRank, "No" ], index=newDf.columns ), ignore_index=True)
    except ValueError:
        pass

100%|██████████| 10659/10659 [01:28<00:00, 120.93it/s]

In [15]:
newDf.shape

(23250, 5)

In [16]:
Y = newDf.pop('CoPurchasedProducts')
X = newDf
X.head()

                   ASINs    ...      SalesRank
0  0790747324 B00007JMD8    ...          74506
1  0790747324 6305350221    ...          12021
2  0790747324 B00004RF9B    ...          62320
3  0790747324 B00005JKFR    ...         360637
4  0790747324 B00005NG6A    ...         362669

[5 rows x 4 columns]

In [17]:
Y.head()

0    Yes
1    Yes
2    Yes
3    Yes
4    Yes
Name: CoPurchasedProducts, dtype: object

In [18]:
X1 = newDf.pop('ASINs')

In [19]:
X2 = newDf
X2.head()

   TitleSimilarity  CategorySimilarity SalesRank
0             0.00                0.44     74506
1             0.11                0.27     12021
2             0.00                0.27     62320
3             0.10                0.44    360637
4             0.00                0.44    362669

In [20]:
Y_onehot = Y.copy()
Y_onehot = pd.get_dummies(Y_onehot, columns=['CoPurchasedProducts'], prefix ='CoPurchasedProducts')

print(Y_onehot.head())

   CoPurchasedProducts_No  CoPurchasedProducts_Yes
0                       0                        1
1                       0                        1
2                       0                        1
3                       0                        1
4                       0                        1

In [24]:
Y_onehot.pop('CoPurchasedProducts_Yes')

KeyError: 'CoPurchasedProducts_Yes'

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X2, Y_onehot, test_size=0.4, random_state=42)

In [27]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=3, criterion='gini', max_depth=2, max_features='sqrt', bootstrap=True, n_jobs=-1, random_state=42, verbose=1,warm_start=True)

In [28]:
model.fit(X_train, y_train)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of   3 | elapsed:    0.0s finished

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='sqrt', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=3, n_jobs=-1,
            oob_score=False, random_state=42, verbose=1, warm_start=True)

In [29]:
y_pred = model.predict(X_test)

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    0.0s finished

In [30]:
from sklearn.metrics import accuracy_score
acc4 = accuracy_score(y_pred,y_test)
acc4

0.9996774193548387